@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');

/* important ! */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow: hidden;
    scroll-behavior: smooth;
    stop-opacity: 7rem;
}

section {
    margin: 0 auto;
    max-width: 10000px;
    padding: 3rem;
}

.main {
    height: auto;
    width: auto;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1500;
    background: url(img/bg_navbar.jpg);

}

.header .flex .logo-pic {
    width: 56px;
}

.header .flex .logo {
    font-size: 3rem;
    color: rgb(39, 26, 18);

}

.header .flex .navbar a {
    color: rgb(39, 26, 18);
}

.navbar {
    max-width: 90vw;
    height: 60px;
    --background: rgb(255, 238, 0);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.logo {
    width: 20%;
    height: 20%;
    border: 3px solid rgb(109, 77, 56);
    border-radius: 30px;
}

.right-button {
    align-items: center;
    display: flex;
    column-gap: 3rem;
}

.translate {
    color: rgb(109, 77, 56);
    font-size: 2rem;
}

.main {
    background-color: #EAD2E6;
}

.orderDetail {
    max-width: 10000px;
    height: 84vh;
    overflow-y: auto;
}

.order {
    /*border: 3px solid rgb(109, 77, 56);*/
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
    box-shadow: 0 4px 6px rgb(109, 77, 56);
    /*width: 100%;*/
}

.headOrderDetail {
    font-family: "Madimi One";
    font-size: 275%;
}



.Detail {
    padding: 2%;
    background-color: #F7C9CB;
}

tr,
td {
    /*border: 3px solid rgb(109, 77, 56);*/
}

.customerChoose {
    /*border: 3px solid rgb(109, 77, 56);*/
    margin-top: 2%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    background-color: #FDE8E9;
    box-shadow: 0 5px 7px rgb(109, 77, 56);

}

.row1 {
    padding-left: 2%;
    width: 20%;
    text-align: left;
    background-color: #F7C9CB;
    padding: 1%;
}

.headOrderNum {
    font-family: "Madimi One";
    font-size: 200%;
}

.number,
.inside,
.taste,
.sauce,
.total,
.totalPrice {
    font-family: "IBM Plex Sans Thai";
    padding-top: 4%;
}

.number,
.inside,
.insideDetail,
.insideCount,
.insidePrice,
.taste,
.sauce,
.total,
.totalPrice {
    padding-left: 5%;
    text-align: left;
    font-size: 180%;
    padding-bottom: 5%;
    font-family: "IBM Plex Sans Thai";
}

.underline {
    font-size: 200%;
    color: rgb(109, 77, 56);
    text-align: center;
}

.btn{
    margin-top: 1.5%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.conBtn{
padding-left: 6%;
}

.button-28 {
    appearance: none;
    background-color: white;
    border: 2.5px solid rgb(109, 77, 56);
    border-radius: 15px;
    box-sizing: border-box;
    color: rgb(109, 77, 56);
    cursor: pointer;
    display: inline-block;
    font-family: "Madimi One", sans-serif;    
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.button-28:disabled {
    pointer-events: none;
}

.button-28:hover {
    color: #fff;
    background-color: #d65f91;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-1px);
}

.button-28:active {
    box-shadow: none;
    transform: translateY(0);
}

button {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: 2px solid #d65f91;
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(109, 77, 56);
    overflow: hidden;
    transition: .3s;
    font-family: "Madimi One";
}

button:hover {
    background-color: rgb(255, 234, 246);
    transform: scale(1.2);
    box-shadow: 0 0 4px rgb(109, 77, 56);
    transition: .3s;
}

svg {
    color: #d65f91;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}

button:focus svg {
    opacity: 0;
    transition: .3s;
}

span {
    width: 100px;
    position: absolute;
    opacity: 0;
    transform: translate(-50%, -50%);
    color: #d65f91;
    font-size: 130%;
    font-weight: 600;
    transition: .3s;
}

button:focus {
    width: 150px;
    height: 50px;
    transition: .3s;
}

button:focus span {
    opacity: 1;
    transition: .3s;
}

.deleteBtn{
    padding-right: 3%;
    text-align: right;
}




/*.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 13%;
    width: 100%;
    background: url('img/bg_navbar.jpg');
}*/

/* important ! */