@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

/* important ! */

*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Madimi One", sans-serif;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow: hidden;
    scroll-behavior: smooth;
    stop-opacity: 7rem;
}

section{
    margin: 0 auto;
    max-width: 10000px;
    padding: 3rem;
}

.main{
    height: auto;
    width: auto;
}

.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1500;
    background: url(img/bg_navbar.jpg);
    
}

.header .flex .logo-pic{
    width: 56px;
}

.header .flex .logo{
    font-size: 3rem;
    color: rgb(39, 26, 18);
    
}

.header .flex .navbar a{
    color: rgb(39, 26, 18);
}

.navbar{
    max-width: 90vw;
    height: 60px;
    --background: rgb(255, 238, 0);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.logo{
    width: 20%;
    height: 20%;
    border: 3px solid rgb(109, 77, 56);
    border-radius: 30px;
}

.right-button{
    align-items: center;
    display: flex;
    column-gap: 3rem;
}

.translate{
    color: rgb(109, 77, 56);
    font-size: 2rem;
}

.main{
    background-color: rgb(248, 220, 225);
}

/*.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 13%;
    width: 100%;
    background: url('img/bg_navbar.jpg');
}*/

/* important ! */